.App {
  text-align: center;
}

.Initial{
  height:10vh;
  width: 15vw;
  margin: 45vh;
  background-color: red;
  color: black;
}

.bg{
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}

.registration{
  height: 73vh;
  width: 31vw;
  margin-left: 34.5vw;
  margin-top: 15vh;
  background-color: white ;
  position: fixed;
  border: 1px solid black;
  text-align: center;
  border-radius: 6px;
}

.lineBreaker{
  height:2vh;
}

.heading{
   font-size: 5vh;
   margin:5vh 0px 5vh 0px;
}

.inputFeild{
  height: 5vh;
  width: 70%;
  padding-left: 1vw;
  margin:0px;
  border-radius: 15px;
  border:1px solid grey;
}

.error{
  color: red;
  float: right;
  font-size: 75%;
  margin-right: 15%;
}

.submitButton{
  height: 8.5vh;
  width: 73%;
  font-size: 100%;
  color: white;
  background-color: green;
  border: 1px solid green;
  border-radius: 2px;
  margin-top: 2vh;
}

.submitButton:hover{
  height: 10vh;
  width: 80%;
  font-size: 120%;
  background-color: rgb(0, 110, 0);
  border: 1px solid rgb(0,110,0);
  transition-duration: 100ms;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
